<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Show!</title>
  </head>
  <body>
    <div class="container">
        <div class="d-flex justify-content-between row">
            <h1>Edit Show</h1>
            <div class="mt-2 gap-3">
                <a href="/">
                    <button type="submit" class="btn btn-success ">Dashboard</button>
                </a>
                <a href="/user/logout">
                    <button type="submit" class="btn btn-primary ">Logout</button>
                </a>
            </div>
        </div>
        <div class="row">
            <form action="/show/{{show.id}}/update" method="post">
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" name="title" id="title" value="{{ show.title }}">
                    {% for message in get_flashed_messages(category_filter=["err_show_title"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="network">Network:</label>
                    <input class="form-control" type="text" name="network" id="network" value="{{ show.network }}">
                    {% for message in get_flashed_messages(category_filter=["err_show_network"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="release_date">Release date:</label>
                    <input type="date" id="release_date" name="release_date"
                           value="{{ show.release_date }}"
                           min="1900-01-01" max="2022-07-20">
                    {% for message in get_flashed_messages(category_filter=["err_show_release_date"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <textarea class="form-control "name="description" id="description" cols="50" rows="5">{{show.description}}</textarea>
                    {% for message in get_flashed_messages(category_filter=["err_show_description"]) %}
                    <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success">Update Show</button>
            </form>
        </div>
    </div>

    </div> 
  </body>
</html>